/* HEADER */
header {
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 50px;
  background-image: url(https://images.pexels.com/photos/751373/pexels-photo-751373.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
}


header img {
  width: 50px;
}
header .menu-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  font-size: 23px;
  font-weight: bold;
}
header .menu-links a {
  text-decoration: none;
  color: #d3d3d3;
}
header .menu-links :hover {
  text-decoration: underline;
}


/* BODY */

body {
  font-family: system-ui, sans-serif;
  margin: 0; 
  padding-left: 20; 
  /* background-image: linear-gradient(to top, #cdcdcd, #e9e9e9); */
  display: grid;
}

main {
  flex: 1;
  padding: 25px; 
  flex-direction: column;
}

/* FOOTER */

footer {
  text-align: center;
  padding: 20px;
  background-image: url(https://images.pexels.com/photos/751373/pexels-photo-751373.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  position: fixed;
  bottom: 0;
  margin-left: 0;
  width: 100%;
  height: 20px;
  font-size: large;
} 

/* BUTTON */
.button {
  border-radius: 10px; 
  padding: 10px 20px; 
  background-color: white; 
  cursor: pointer;
}
.button:hover {
  background-color: #f4f3f3; 
}

li:hover {
 color: #ab2a2a;
}

.column-btn {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.muuda-button, .column-btn {
  border: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px; 
  padding: 10px; 
  font-size: 20px;
  background-color: #fff4a5;
  cursor: pointer;
  text-align: center;
}
.muuda-button:hover, .column-btn:hover {
  background-color: #ffeb50
}

.kustuta-button {
  border: none;
  border-radius: 10px; 
  padding: 10px 20px; 
  background-color: #ffdcdc; 
  font-size: 20px;
  cursor: pointer;
}
.kustuta-button:hover {
  background-color: #ff8282; 
}

.lisa-button {
  border-radius: 10px; 
  background-color: #ffdcdc; 
  cursor: pointer;
  border: none;
  padding: 10px;
  width: 100px;
  font-size: 20px;
  height: fit-content;
}

.lisa-button:hover {
  background-color: #ff8282; 
}

/* BODY CONTENT */
.content {
  display: flex;
  min-height: calc(100vh - 130px); 
  font-size: 30px;
  color: black;
}

/* SEARCH */
.search-container input {
  border-width: 3px black;
  margin-left: 20px;

  margin-right: auto;
  text-align: center;
}

/* LEFT MENU */
.content .left-menu {
  width: 450px;
  padding: 20px 0px 50px 20px;
  
}
.content .left-menu h2 {
  margin-bottom: 10px;
}

.content .left-menu ul li {
  margin-bottom: 5px;

}


/* CENTER */
.center-content {
  flex-grow: 1;
  text-align: center;
  margin: 50px;
  align-items: center;
  text-align: center;
  padding: 25px;
  background-image: linear-gradient(to top, white, #e4e4e4, white);
}
.search-area {
  flex-grow: 1;
  text-align: center;
  margin: 50px;
  align-items: center;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  padding-right: 20px;
}


/* H1 TO H6 */

.schedule h1 {
  text-align: center;
}

 h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.column {
  float: left;
  width: 20%; 
  margin-left: auto;
  margin-right: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


form {
  text-align: center;
  margin-top: 5%;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}
.column {
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
  justify-content: space-between;

}
input, select{
  display: block;
  margin-bottom: 20px;
  border-radius: 20px;
  border-color: white;
  padding: 10px;

  font-size: 20px;
  width: 280px;
  
}

label {
  display: block;
  background-color: white;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  font-size: 20px;
  width: 200px;
  padding: 10px;
  border-width: 3px;

}

.teacher-list{
  text-align: left;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  background-color: white;
  border-radius: 20px;
  font-size: 40px;
  display: inherit;
 
}

.teacher-list ol, .teacher-list li {
  margin-left: 30px;
  margin-top: 5px;
  padding: 10px;
}


.muuda-input {
  height: 30px;
  width: 260px;
  font-size: 20px;
  text-align: center;
}


.muuda-form {
  text-align: right;
  width: 65%;
}

span {
  font-weight: bold;
  color: #df3b38;
}




