/* HEADER */
header {
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 50px;

  background-image: url(https://media.istockphoto.com/id/182761052/photo/red-paper-background.jpg?s=2048x2048&w=is&k=20&c=dQdqAAitCZgFS9aWm5rZvF2aQEu6-dsJD5vChexDFWg=);
  background-size: 100%;
}


header img {
  width: 50px;
}
header .menu-links {
  display: flex;
  justify-content: center;

  font-size: 23px;
  font-weight: bold;
}
header .menu-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #d3d3d3;
}
header .menu-links :hover {
  text-decoration: underline;
}


/* BODY */

body {
  font-family: Arial, sans-serif;
  margin: 0; 
  padding-left: 20; 
  background-color: #333;
}

main {
  flex: 1;
  padding: 25px; 
  display: flex;
  flex-direction: column;
}


/* FOOTER */

footer {
  text-align: center;
  padding: 20px;
  background-image: url(https://media.istockphoto.com/id/182761052/photo/red-paper-background.jpg?s=2048x2048&w=is&k=20&c=dQdqAAitCZgFS9aWm5rZvF2aQEu6-dsJD5vChexDFWg=);
  position: fixed;
  bottom: 0;
  margin-left: 0;
  width: 100%;
  height: 30px;
  font-size: x-large;
  color: black;
} 

footer a {
  color: #d3d3d3;
}

/* BUTTON */
.button {
  border: 1px solid #333; 
  border-radius: 10px; 
  padding: 10px 20px; 
  background-color: #f4faff; 
  cursor: pointer;
}
.button:hover {
  background-color: #d3d3d3; 
}

li:hover {
 color: #ab2a2a;
}

.column-btn {
  margin-bottom: 10px;
  font-size: 20px;
  width: 100px;
}

.muuda-button, .column-btn {
  border: 1px solid #333; 
  border-radius: 10px; 
  padding: 10px 20px; 
  background-color: #f4faff; 
  cursor: pointer;
}
.muuda-button:hover, .column-btn:hover {
  background-color: #bdd1f0; 
}

.kustuta-button {
  border: 1px solid #333; 
  border-radius: 10px; 
  padding: 10px 20px; 
  background-color: #e6c9c9; 
  cursor: pointer;
}
.kustuta-button:hover {
  background-color: #f47c7c; 
}

.search-container button {
  font-weight: bold;
  width: 60px;
  height: 30px;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
}


/* BODY CONTENT */
.content {
  display: flex;
  min-height: calc(100vh - 130px); 
  font-size: 30px;
  color: black;
}

/* SEARCH */

.search-container {
  text-align: center;
  margin: none;
  width: 300px;
}

.search-container input {
  height: 30px;
  width: 200px;
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
}


/* LEFT MENU */
.content .left-menu {
  width: 450px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #ebeaea;
}
.content .left-menu h2 {
  margin-bottom: 10px;
}

.content .left-menu ul li {
  margin-bottom: 5px;

}


/* CENTER */
.center-content {
  flex-grow: 1;
  text-align: center;
  margin: 50px;
  align-items: center;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  padding-right: 20px;
  color: #d3d3d3;
}
.search-area {
  flex-grow: 1;
  text-align: center;
  margin: 50px;
  align-items: center;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  padding-right: 20px;
}


/* H1 TO H6 */

.schedule h1 {
  text-align: center;
}

 h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.column {
  float: left;
  width: 20%; 
  margin: 20px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


form {
  text-align: center;
  margin-top: 10%;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 800px;
}
.column {
  flex: 1;
  padding: 10px;
  width: 300px;
}
.column input, .column select{
  display: block;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;

  font-size: 20px;
  
}

.column label {
  display: block;
  background-color: #ebeaea;
  margin-bottom: 14px;
  border-radius: 20px;
  font-size: 20px;
  width: 200px;
  padding: 10px;
}

.teacher-list{
  text-align: center;
  display: block;
  width: 400px;
  margin-left: 40%;
  margin-top: 5%;
  background-color: #ebeaea;
  border-radius: 20px;

  font-size: 40px;
}

.teacher-list ol, .teacher-list li {
  margin-left: 30px;
  margin-top: 5px;
  padding: 10px 10px 10px
}

.muuda-input {
  height: 30px;
  width: 260px;
  font-size: 20px;
  text-align: center;
}


.muuda-form {
  text-align: right;
  width: 70%;
}

span {
  font-weight: bold;
  color: #ab2a2a;
}

.teacher-list {
  display: inherit;
  margin-bottom: 100px;
}
